<mat-toolbar color="primary">
    <span>Dynamic User Dashboard</span>
    <span class="spacer"></span>
    <div>
        <input matInput class="search-input" [formControl]="searchInput" placeholder="Search" type="text">
    </div>
    <span 
      (click)="toggleTheme()" 
      class="change-theme-icon pointer pulsate-fwd" 
      [matTooltip]="themeService.themeSignal() === 'dark' ? 'Switch to ligh mode' : 'Switch to dark mode'">
        @if (themeService.themeSignal() === 'dark'){
            <mat-icon>bedtime</mat-icon>
          } @else {
            <mat-icon>light_mode</mat-icon>
          }
    </span>
</mat-toolbar>