.user-card {
    display: flex;
    cursor: pointer;
    margin-bottom: 1.5em;;
}

.user-card:hover {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



  
  