.spacer {
    flex: 1 1 auto;
}

.search-input {
    padding: 0.5em;
    border-radius: 1em;
    border: none;
    padding: 0.6em 1.2em;
    width: 120px;
    margin-right: 1em;
}

.search-input:focus {
    width: 200px;
}

.change-theme-icon {
    position: relative;
    top: 5px;
}