@if (data$ | async; as data) {
    <app-loader [isLoading]="data.isLoading"></app-loader>
    @if (data.users.length > 0) {
        <h2>Users</h2>
        <div class="user-list-container">
            @for (user of data.users; track $index) {
                <mat-card>
                    <mat-card-header>
                      <img mat-card-avatar [src]="user.avatar" alt="User avatar">
                      <mat-card-title>{{ user.first_name }} {{ user.last_name }}</mat-card-title>
                      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            }
          </div>

          <div class="paginate">
            <mat-paginator [length]="data.total" [pageSize]="data.users.length" (page)="onChangePage($event)">
            </mat-paginator>
          </div>
    } @else {
        <h1>No Data</h1>
    }
}